.noimage{
  background-color: white;
  color: #ccc;
  font-weight: bold;
  height: 100%;
  width: 100%;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}