.single-product{
  width: 100%;
  max-width: 888px;
  display: flex;
  padding: 16px;
  margin: auto;
  height: 100%;
  max-height: calc(100vh - 112px);
  & > div {
    min-width: 50%;
  }
}
@media screen and (max-width: 450px){
  .single-product{
    flex-direction: column;
    padding: 0 8px;
    padding-top: 90px;
    max-height: 0;
    & > div {
      height: 50%;
    }
  }

}