.single-product{
  width: 100%;
  max-width: 888px;
  display: flex;
  padding-top: 96px;
  margin: auto;
  min-height: 100vh;
  & > div {
    flex: 0 1 50%;
  }
}
@media screen and (max-width: 450px){
  .single-product{
    flex-flow: column nowrap;
    justify-content: space-between;
    & > div {
      flex: 0;
      height: calc(100vh/2 - 62px);
    }
  }

} 