.single-product{
  width: 100%;
  max-width: 888px;
  display: flex;
  padding: 16px;
  margin: auto;
  height: 100%;
  max-height: calc(100vh - 112px);
  & > div {
    min-width: 50%;
  }
}