.topbar{
  background-color: #1D2224;
  color: white;
  padding: 16px 8px;
  font-size: 1.8rem;
  position: fixed;
  width: 100%;
  z-index: 2;

  .topbar__logo{
    font-family: 'Chelsea Market', cursive;
    color: white;
    border-radius: 5px;
    padding: 8px;
    &:hover{
      color: #FF324D;
    }
  }

  .topbar__icons{
    display: flex;
    align-items: center;
    .icon{
      display: flex;
      justify-content: flex-end;
    }
    
    .icon:hover {
      color: #FF324D;
      justify-content: flex-end;
    }
  }
  
  .topbar__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
}


