.product{
  margin: 8px;
  flex: 0 1 calc(25% - 16px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

  .product__content{
    height: 100%;
    display: flex;
    flex-direction: column;

    .price__off{
      font-weight: bold;
      text-decoration: none;
      color: black;
      position: absolute;
      z-index: 1;
      background-color: #c6ff00;
      padding: 8px;
      align-self: flex-end;
    }

    img {
      max-width: 100%;
    }
  }
  .product__footer{
    display: flex;
    flex-direction: column;
    padding: 16px;

    .product__name{
      font-weight: bold;
    }
  }
}


@media screen and (max-width: 768px) {
  .product {
    flex: 0 1 calc(33.3% - 16px);
  }
}

@media screen and (max-width: 450px) {
  .product {
    flex: 0 1 100%
  }
}
  