.cart__footer{
  background-color: #4A4E50;
  bottom: 0px;
  width: 100%;
  margin-top: auto;

  .footer__content{
    color: white;
    padding: 0px 16px;
    & > *{
      display: flex;
      justify-content: space-between;
      margin: 4px 0;
    }
    .content__row{
      color: black;
    }
    .content__row--total{
      color: white;
      font-size: 1.3em;
    }
  }

  button{
    width: 100%;
    background-color: #c6ff00;
    padding: 16px 8px;
    font-weight: bold;
  }
}