.drawer{
  height: calc(100vh - 80px);
  width: 360px;
  position: fixed;
  z-index: 2;
  right: 0;
  background-color:#1D2224;
  overflow-x: hidden;
  transition: 0.5s;
}

.inactive {
  width: 0px;
}

@media screen and (max-width: 450px) {
  .drawer {
    width: 100%;
  }
}

