.drawer{
  right: 0;
  height: 100vh;
  background-color: #1D2224;
  position: absolute;
  width: 360px;
  z-index: 2;
  padding: 16px;

  transition: all .5s ease-in-out;
}

.inactive {
  right: -400px;
}

@media screen and (max-width: 450px) {
  .drawer {
    width: 100%;
  }
}

