.loading {
  position: absolute;
  border: 10px solid #f3f3f3e8;
  border-top: 10px solid #ff324d;
  border-radius: 50%;
  padding: 20px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}