.product-details{
  display: flex;
  align-items: center;
  width: 100%;

  & p{
    margin: 0px;
  } 

  .details__content{
    margin-left: 64px;
    font-size: 1.2em;

    .details__name{
      margin-bottom: 0px;
    }

    .details__style{
      margin-top: 0px;
      font-size: 0.7em;
    }

    .details__color{
      margin-top: 16px;
      font-size: 0.8em;
    }

    .details__sizes{
      margin-top: 16px;
      display: flex;
      button {
        margin-right: 8px;
        padding: 8px;
        font-weight: bold;
        background-color: #eee;
        border-radius: 5px;
        font-size: 0.8em;
        &:disabled{
          background-color: white;
          font-weight: normal;
        }
        
      }
      .selected{
        background-color: #c6ff00;
      }
    }

    .product__price{
      margin-top: 16px;
    }

    .details__button{
      margin-top: 32px;
      button{
        font-weight: bold;
        padding: 8px;
        background-color: #c6ff00;
        order: 1;
      }
      &-error{
        margin-left: 8px;
        color: red;
        font-size: 0.8em;
        order: 2;
      }
    }

  }

}

@media screen and (max-width: 450px){
  .product-details{
    .details__content{
      margin-left: 0;
      text-align: center;
      width: 100%;
      
      .details__sizes{
        display: flex;
        justify-content: center;
      }

      .details__button{
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        button{
          width: 100%;
          font-weight: bold;
          padding: 16px 8px;
          order: 2;
        }
        

        &-error{
          order: 1;
        }
      }
    }

  }
}