.product-details{
  display: flex;
  align-items: center;
  width: 100%;

  .details__content{
    margin-left: 64px;
    font-size: 1.2em;

    & > *{
      margin-top: 16px;
    }

    .details__name{
      margin-bottom: 0px;
    }

    .details__style{
      margin-top: 0px;
      font-size: 0.7em;
    }

    .details__color{
      font-size: 0.8em;
    }

    .details__sizes{
      display: flex;
      button {
        margin-right: 8px;
        padding: 8px;
        font-weight: bold;
        background-color: #eee;
        border-radius: 5px;
        font-size: 0.8em;
        &:disabled{
          background-color: white;
          font-weight: normal;
        }
        
      }
      .selected{
        background-color: #c6ff00;
      }
    }

    .details__button{
      margin-top: 32px;
      font-weight: bold;
      padding: 8px;
      background-color: #c6ff00;
    }

    .details__error{
      margin-left: 8px;
      color: red;
      font-size: 0.8em;
    }
  }

}