.products {
  padding-top: 83px;
  &__items {
    display: flex;
    flex-wrap: wrap;
  }
  &__quantity {
    padding-left: 8px;
    p {
      color: #555;
    }
  }
  &__noproduct {
    display: flex;
    height: calc(100vh - 120px);
    justify-content: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
