.products {
  padding-top: 83px;
  display: flex;
  flex-wrap: wrap;
  &__noproduct {
    display: flex;
    height: calc(100vh - 120px);
    justify-content: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
